*{margin: 0;
padding: 0;
max-width: 100%;

}
body {
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 4%;
}
h2 {
    text-align: center;
    font-size: 35px;
}
#imagen {
    width:30%; 
margin-left: 35%;
margin-top: 1.4%;
margin-bottom: 1.4%;

}
p {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    width: 97%;
}
section {
    margin-left: 33%;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

#referencia {
    display: flex;
    align-items: center;
    background-color: black;
    color:blanchedalmond;
    padding: 30px;
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
}   

#referencia a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#para {
    box-shadow: 1px 1px 10px black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
